name: Push image to ECR

permissions:
  id-token: write
  contents: read

on:
  workflow_call:
    inputs:
      repository:
        description: The name of the ECR repo (defaults to Github repo name).
        required: false
        type: string
        default: ${{ github.event.repository.name }}
      tags:
        description: A comma separated list of tags.
        required: true
        type: string

    secrets:
      aws_region:
        description: The AWS region the ECR registry is located in.
        required: true
      iam_role:
        description: The IAM role to assume for pushing the image.
        required: true
      aws_account_id:
        description: The name of the ECR registry.
        required: true

jobs:
  push-ecr:
    name: Build and push to AWS ECR
    runs-on: ubuntu-latest

    steps:
      - name: Set tags
        id: set-tags
        uses: actions/github-script@v7
        with:
          script: |
            const baseUrl = '${{ secrets.aws_account_id }}.dkr.ecr.${{ secrets.aws_region }}.amazonaws.com/${{ inputs.repository }}'

            const all = [];

            const tags = '${{ inputs.tags }}'.split(',');
            tags.forEach((tag) => {
              if (tag.trim().length === 0) {
                return;
              }

              if (/^[a-zA-Z\d\-_.]{1,127}$/.test(tag) === false) {
                console.error('Bad tag:', tag)
                return;
              }

              all.push(`${baseUrl}:${tag}`);
            });

            console.log('Image to be tagged with:', all);
            return all.join(',');
          result-encoding: string

      - name: Git checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.iam_role }}
          aws-region: ${{ secrets.aws_region }}

      - name: Login to ECR
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.aws_account_id }}.dkr.ecr.${{ secrets.aws_region }}.amazonaws.com

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          push: true
          provenance: false # Lambda cannot handle this...
          tags: ${{ steps.set-tags.outputs.result }}
